<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Welcome to the Pokedex!</h1>
        <div class="content">
        <a href="/players/signup">Sign Up</a>
        <a href="/players/login">Log In</a>
        </div>
    </body>
</html>