<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div class = "content">
        <form action="/players/login" method="POST">
            Username: <input type="text" name="username"/></br>
            Password: <input type="text" name="password"/></br>
            <input type="submit" name="" value="Log In"/>
        </form>
        </div>
    </body>
</html>