<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Pokemon!</h1>
        <div class="content">
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" /><br/>
            Image: <input type="text" name="img" /><br/>
            <input type="submit" name="" value="Add Pokemon"/>
        </form>
        </div>
    </body>
</html>